body {
    margin: 0 !important;
    padding: 0 !important;
}
main {
    margin: 50px;
    margin-top: 100px;
}
#userDetails {
    font-weight: bold;
    font-size: 18px;
    color: #1d1d1d;
}
#userDetails > .profile-class {
    font-weight: lighter;
    font-size: 15px;
}
.settings {
    margin: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    gap: 50px;
}
.settings .setting-group {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
}
.settings .setting-group:hover {
    background: rgb(234, 234, 234);
}
.settings .setting-group > * {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
    display: flex;
    border: none;
    outline: none;
    height: 1px;
    border-bottom: 1px solid rgb(117, 117, 117);
}

.setting-flex {
    display: flex;
}

.sidebar > a {
    text-decoration: none;
    color: black;
}

.content input {
    border: 1px rgba(88, 88, 88, 0.5) solid;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.content button {
    background: rgb(40, 125, 40);
    color: white;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    border: 1px rgba(33, 60, 33, 0.683) solid;
    font-weight: bold;
}

.content button:hover {
    background: rgba(40, 125, 40, 0.922);
}

.content p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}

.content h3 {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 17px;
}

.content h1 {
    font-size: 22px;
    margin-top: 50px;
}

.content #general {
    margin-top: 0;
}