body {
    overflow-x: hidden;
}

.product {
    display: flex;
    margin-top: 100px;
}
@media (max-width: 600px) {
    .product {
        flex-wrap: wrap;
        gap: 10px;
    }
    .product-details {
        margin-top: 10px;
        margin-left: 90px;
    }
}
.product-image-container {
    background: white;
    border: 1px rgba(60, 60, 60, 0.3) solid;
    position: relative;
    width: 60%;
    min-width: 200px;
    margin-left: 60px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.product-image-container img {
    width: 100%;
    margin: auto auto;
}
.product .product-details {
    margin: 0 30px;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 20px;
    flex-basis: 30%;
}
hr {
    border: none;
    border-bottom: 1px lightgray solid;
}
.item-cost {
    font-size: 25px;
}
.item-prev-cost {
    font-size: 17px;
    color: rgb(67, 67, 67);
    font-weight: 100;
}
.item-discount {
    color: firebrick;
    font-weight: 100;
    font-size: 27px;
}
.item-cost-container {
    display: flex;
    gap: 10px;
    align-items: center;
}
.order-buttons {
    display: block;
    margin-top: 50px;
}
.buy-button {
    font-size: 18px;
    font-weight: 700;
    display: block;
    background: #0053a0;
    color: whitesmoke;
    padding: 15px 25px;
    border-radius: 100px;
    border: none;
    margin: 10px 0;
    width: 100%;
    transition-property: background;
    transition-duration: 0.1s;
}
.buy-now-button {
    background: #3498ca;
}
.buy-now-button:hover {
    background: #004b92;
}
.add-cart-button:hover {
    /* background: #3498ca; */
    background: #004688;
}
input[type=number] {
    margin-top: 100px;
}

.adress-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.262);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.dialog {
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
}

.dialog h2 {
    text-align: center;
}

.adress-header {
    margin-bottom: 40px;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.checkout-button-container {
    display: flex;
    gap: 10px;
}

/* Cart style */

.checkout-button-container > button {
    padding: 10px 20px;
    background: rgb(75, 89, 152);
    color: white;
    font-style: bold;
    font-size: 18px;
    border: 0;
    outline: none;
    transition-property: background;
    transition-duration: 0.1s;
}

.checkout-button-container > button:hover {
    background: rgb(91, 106, 173);
}

/* description style */

#product-description {
    margin: 10px;
    font-size: 15px;
}

#description-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

#description {
    margin: 50px 50px;
}

/* Review style */

#reviews {
    width: 360px;
}

#write-Review {
    margin-left: 20px;
    margin-bottom: 50px;
}

#write-Review > h3 {
    margin-left: 0px;
    font-size: 19px;
}

#write-Review input {
    border: 1px rgba(0, 0, 0, 0.7) solid;
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    font-size: 18px;
    padding: 5px 10px;
}

#write-Review input:focus {
    outline: 1px rgba(0, 0, 0, 0.8) solid;
}

#write-Review label {
    font-size: 17px;
}

.title-section-review, .content-section-review {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#write-Review textarea {
    border: 1px rgba(0, 0, 0, 0.7) solid;
    background: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 10px;
    width: 100%;
    aspect-ratio: 2 / 1;
    resize: none;
}

#write-Review textarea:focus {
    outline: 1px rgba(0, 0, 0, 0.8) solid;
}

.content-section-review {
    margin-top: 10px;
}

/* Styling review buttons */

.button-review-container {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.button-review-container button {
    background: rgba(44, 132, 31, 0.9);
    border: 1px rgba(26, 74, 18, 0.9) solid;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.button-review-container button:hover {
    background: rgba(44, 132, 31, 0.99);
    border: 1px rgba(26, 74, 18, 0.99) solid;
}

#cancelReviewButton {
    background: rgba(148, 20, 20, 0.9);
    border-color: rgba(94, 17, 17, 0.9);
}

#cancelReviewButton:hover {
    background: rgba(148, 20, 20, 0.99);
    border-color: rgba(94, 17, 17, 0.99);
}

/* Posted reviews style */
#reviewContainer h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.review-title-container > * {
    margin: 0;
    padding: 0;
}

.review-title-container > p {
    margin-left: 5px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}

.review-title-container {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.review > p {
    margin: 10px 5px;
    margin-bottom: 30px;
}